<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <style>
    @font-face {
      font-family: '{{{ font.name }}}';
      font-display: swap;
      font-style: normal;
      font-weight: {{{ font.weight }}};
      src:
        url(data:font/woff2;charset=utf-8;base64,{{{ font.woff2 }}}) format('woff2'),
        url(data:application/font-woff;charset=utf-8;base64,{{{ font.woff }}}) format('woff');
    }

    {{{ style }}}
  </style>
</head>
<body>
  <h1>{{ title }}</h1>
  <div id="charts"></div>
  <script>window.nodesData = {{{ nodesData }}};</script>
  <script>{{{ script }}}</script>
</body>
</html>
