<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <style>{style}</style>
  <style>{styleOverride}</style>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>
  <main id="main"></main>
  <footer>
    <span>Generated with <a href="https://github.com/btd/rollup-plugin-visualizer" target="_blank" rel="noopener noreferrer">rollup-plugin-visualizer</a></span>
  </footer>
  <script>window.nodesData = {nodesData};</script>
  <script>window.chartParameters = {chartParameters};</script>
  <script>{script}</script>
</body>
</html>
