@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local("Oswald Medium "),
    local("Oswald-Medium"),
    url("node_modules/typeface-oswald/files/oswald-latin-500.woff2") format("woff2"),
    url("node_modules/typeface-oswald/files/oswald-latin-500.woff") format("woff");
}

html {
  background-color: #f7eedf;
  color: #333;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

svg {
  vertical-align: middle;
}

h1 {
  font-family: "Oswald", "HelveticaNeue-CondensedBold", "Arial Narrow", sans-serif;
  font-weight: 500;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}

.chart {
  position: relative;
  margin: 0 auto;
  min-height: 350px;
}

#charts {
  width: 1000px;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
