:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --background-color: #f7eedf;
  --text-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2b2d42;
    --text-color: #edf2f4;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

svg {
  vertical-align: middle;
  height: 100%;
}

main {
  margin: 0 auto;
  flex: 1;
  height: 100%;
  padding: 20px;
}

.tooltip {
  position: absolute;
  z-index: 1070;

  border: 2px solid;
  border-radius: 5px;

  padding: 5px;

  white-space: nowrap;

  font-size: 0.875rem;

  background-color: var(--background-color);
  color: var(--text-color);
}

.tooltip-hidden {
  visibility: hidden;
  opacity: 0;
}
