@import "./base";

.details {
  position: absolute;

  top: calc(50% - 55px);
  left: calc(50% - 85px);

  width: 170px;
  height: 110px;

  font-size: 14px;
  text-align: center;
  color: var(--font-color);
  z-index: 100;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-size {
  font-size: 0.8em;
  margin-top: 1em;
}

.details-name {
  font-weight: bold;
}

.details-size::before {
  content: "(";
}
.details-size::after {
  content: ")";
}

.details-percentage {
  margin: 0.4em 0 0em;
  font-size: 2.4em;
  line-height: 1em;
}
